<!DOCTYPE html>
<html>

<head>
  <link href="/public/assets/styles/gamestyle.css" type="text/css" />
  <link href="/public/assets/styles/styles.css" type="text/css" />
  <title>Platerformer || Netscape</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.18.1/dist/phaser.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>