<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/gamestyle.css">
</head>

<body>
  <h1>Hello, {{this.name}}</h1>

  <br>

  <input type="hidden" id="user" value="{{this.name}}" />
  <div id="GameCanvas">

  </div>

  <br>

  <div id="instructions">
    <b>LEFT/RIGHT</b> to move, <b>SPACE</b> to jump, collect gold and jump on monsters.
  </div>

  <script src="//cdn.jsdelivr.net/npm/phaser@3.18.1/dist/phaser.js"></script>
  <script src="/assets/js/fpsmeter.min.js"></script>
  <script src="/assets/js/platformer.js"></script>

</body>