<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" type="text/css" href="/styles/gamestyle.css">


</head>

<body>
  <h1>Hello, {{this.name}}</h1>
  <div id="platformer">

    <canvas id="canvas">
      <div class="unsupported">
        Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
      </div>
    </canvas>

    <div id="instructions">
      <b>LEFT/RIGHT</b> to move, <b>SPACE</b> to jump, collect gold and jump on monsters.
    </div>

  </div>

  <script src="/js/fpsmeter.min.js"></script>
  <script src="/js/platformer.js"></script>

</body>

</html>