<body>
  <br>
  <div id="game-align">
    <div class="container-fluid">
      <div class="row" id="gameStat">
        {{!-- Status Display --}}
        {{!-- <div class="col">
        <h2>Current Time: <span id="time">0:00</span></h2>
        <input type="hidden" id="user" value="{{dataValue.name}}" />
      </div> --}}
        {{!-- 
      <div class="col">
        <h2>Coins Collected: <span id="coinCollected">0</span>/26</h2>
      </div> --}}

        {{!-- <div class="col">
        <h2>Lives Remaining: <span id="live">3</span></h2>
      </div> --}}

        <div class="col">
          <h1>Good Luck, {{dataValue.name}}!</h1>
        </div>
      </div>

      {{!-- Game area --}}
      <div class="row">
        <div class="col-md-auto">
          <div id="GameCanvas"></div>
        </div>

        <div id="top-5" class="col-3">
          <h1 align="center">Top 5!</h1>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Coins</th>
                <th scope="col">Killed</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>


            </tbody>
          </table>
          <br>
          <div class="col">
            <h3>Current Time: <span id="time">0:00</span></h3>
            <input type="hidden" id="user" value="{{dataValue.name}}" />
          </div>
          <br>
          <div class="col">
            <h3>Coins Collected: <span id="coinCollected">0</span>
              <font color="gold">/28</font>
            </h3>
          </div>
          <br>
          <div class="col">
            <h3>Lives Remaining: <span id="live">3</span></h3>
          </div>
          <br>
          <div class="col">
            <h3>Monsters Killed: <span id="monsterKilled">0</span>
              <font color="gold">/20</font>
            </h3>
          </div>
          <br>

          {{!-- Game instruction --}}
          <div id="instructions">
            <b>LEFT/RIGHT</b> to move, <b>SPACE</b> to jump<br>
            Collect coins and jump on monsters to eliminate
          </div>
          {{!-- </div>

                        <a id="leaderboard-home" class="example_e" href="/" rel="nofollow noopener"><-- Menu</a>


      </div> --}}
        </div>
      </div>
      <script src="//cdn.jsdelivr.net/npm/phaser@3.18.1/dist/phaser.js"></script>
      <script src="/assets/js/fpsmeter.min.js"></script>
      <script src="/assets/js/platformer.js"></script>

</body>