<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <form class="clearfix mb-4" action="/game" method="POST">
          {{!-- user input name to start the game --}}
          <div class="form-group">
            <label for="userName-text">Enter Name </label>
            <input type="text" id="userName-text" class="form-control" name="name" aria-describedby="userName-text"
              placeholder="Name">
          </div>
          {{!-- start game --}}
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Start"></input>
        </form>
        {{!-- leader Board --}}
        <button type="button" class="btn btn-success btn-lg btn-block">Leaders Board</button>
        {{!-- credit --}}
        <button type="button" class="btn btn-warning btn-lg btn-block">About</button>
      </div>
    </div>
  </div>
</div>

