{{!-- This code append data from lender.js jquery

<div class="container">
    <h2>Best Time</h2>
    <br />
    <div id="bestTIme"></div>
    <hr />
</div> 

<script type="text/javascript" src="/assets/js/leaders.js"></script>

--}}

{{!-- This code run when there is user score --}}
{{#if bestTime}}
<div class="container">
    <h2>{{this.name}}, your Best Time is {{this.bestTime}}s</h2>

    <h2>Your Score is: {{this.treasurePoint}} coins</h2>
</div>
{{/if}}

<br>
<div class="row">
    <div class="col-sm-2">
        {{!-- Spacing columns --}}
    </div>
    <div class="col-sm-8">
        <h1 align="center">Leaderboard Page</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>00:53</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>00:56</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>1:05</td>
                </tr>
            </tbody>
        </table>
        {{!-- Main menu button --}}
        <input class="MyButton" type="button" value="<--" onclick="window.location.href='/'" />
    </div>
    <div class="col-sm-2">
        {{!-- Spacing columns --}}
    </div>
</div>