<div class="container">
  <h2>Best Time</h2>
  <br />
  <div id="bestTime"></div>
  <hr />
</div>

<div class="container">
  <h2>{{this.name}}, your Best Time is {{this.bestTime}}s</h2>

  <h2>You avoided: {{this.treasurePoint}} trains</h2>
</div>



<script type="text/javascript" src="/assets/js/leaders.js"></script>