<div class="container">
  <h2>Best Time</h2>
  <br />
  <div id="bestTIme"></div>
  <hr />
</div>

<div class="container">
  <h2>Your Best Time is {{this.bestTime}}s</h2>

  <h2>Your Score is: {{this.treasurePoint}} coins</h2>
</div>



<script type="text/javascript" src="/assets/js/leaders.js"></script>